In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers = {"Accept-Language": "en-US,en;q=0.5"}

movie_name = []
year = []
time=[]
rating=[]
metascore =[]
votes = []
gross = []
description = []

In [3]:
pages = np.arange(1,1000,100)

In [4]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text, 'html.parser')
    movie_data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for movie in movie_data:
        name = movie.h3.a.text
        movie_name.append(name)
        
        year_of_release = movie.h3.find('span', class_ = "lister-item-year text-muted unbold").text[1:5]
        year.append(year_of_release)
        
        runtime = movie.p.find("span", class_ = 'runtime').text
        time.append(runtime)
        
        rate = movie.find('div', class_ = "inline-block ratings-imdb-rating").text.replace('\n', '')
        rating.append(rate)
        
        meta = movie.find('span', class_ = "metascore").text if movie.find('span', class_ = "metascore") else ''
        metascore.append(meta)
        
        
        value = movie.find_all('span', attrs = {'name': "nv"})
        
        vote = value[0].text
        votes.append(vote)
        
        grosses = value[1].text if len(value)>1 else ''
        gross.append(grosses)
        
        describe = movie.find_all('p', class_ = 'text-muted')
        description_ = describe[1].text.replace('\n', '') if len(describe) >1 else ''
        description.append(description_)

In [5]:
movie_list = pd.DataFrame({ "Movie Name": movie_name, "Year of Release" : year, "Watch Time": time,"Movie Rating": rating, "Meatscore of movie": metascore, "Votes" : votes, "Gross": gross, "Description": description  })

In [6]:
movie_list

,Movie Name,Year of Release,Watch Time,Movie Rating,Meatscore of movie,Votes,Gross,Description
0,Nhà tù Shawshank,1994,142 min,9.3,80,"2,446,459",$28.34M,Two imprisoned men bond over a number of years...
1,Bố Già,1972,175 min,9.2,100,"1,693,791",$134.97M,An organized crime dynasty's aging patriarch t...
2,Soorarai Pottru,2020,153 min,9.1,,"88,055",,"Nedumaaran Rajangam ""Maara"" sets out to make t..."
3,Kỵ Sĩ Bóng Đêm,2008,152 min,9.0,84,"2,402,300",$534.86M,When the menace known as the Joker wreaks havo...
4,Bố Già Phần II,1974,202 min,9.0,90,"1,176,597",$57.30M,The early life and career of Vito Corleone in ...
...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,7.6,76,"171,996",,A young New York socialite becomes interested ...
996,Giant,1956,201 min,7.6,84,"36,887",,Sprawling epic covering the life of a Texas ca...
997,From Here to Eternity,1953,118 min,7.6,85,"44,980",$30.50M,"In Hawaii in 1941, a private is cruelly punish..."
998,Gilda,1946,110 min,7.6,,"30,712",,A small-time gambler hired to work in a Buenos...
999,Lifeboat,1944,97 min,7.6,78,"27,603",,Several survivors of a torpedoed merchant ship...